@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  box-sizing: border-box;
}
header {
  background-size: cover;
}


.header-flex h1 {
  opacity: 0.5;
}
header nav a {
  margin-left: 25px;
  color: black;
  font-weight: 400;

  text-decoration: none;
}
.header-wrapper {
  width: 75%;
  margin: 0 auto;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-top: 6px solid grey;
    width: 330px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-left: 50px;
    margin-top: 50px;
}

.card:first-child{
    margin-left: 0;
}

.card h2{
    font-size: 30px;
    margin: 10px;
    margin-bottom: 0;
    font-weight: 600;
}

.card p{
    font-size: 20px;
    font-weight: 400;
}

.card .image{
    margin:5px 0;
    width: 100%;
   
}
img{
    width: 100%;
   
}

.card .date{
    display: flex;
    justify-content: space-between;
    border-top: 2px dashed rgb(158, 158, 158);
    border-bottom: 2px dashed rgb(158, 158, 158);
    margin-top: 10px;
    padding: 5px 0;
}

.card .date p i{
    padding-left: 10px;
}

.card .date p:last-of-type:hover{
    color: gray;
    cursor: pointer;
}

.news-card{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.title{
    text-align: center;
}
.footer {
    background-color: #24262b;
    padding: 70px 0;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .row{
    display: flex;
    justify-content: space-around;
  }
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  

  .todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.input-group {
    display: flex;
    margin-bottom: 10px;
    
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    background-color: orange;
    color: #fff;
    border-radius: 5px 5px;
    cursor: pointer;
}

button:hover {
    background-color: orangered;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #6c757d;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    visibility: hidden;
}

#to-do{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.sorting-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.input-group {
  margin-bottom: 10px;
}

input, select, button {
  padding: 10px;
  margin: 5px;
}

.error-message {
  color: red;
}

.sorted-result {
  font-weight: bold;
  margin-top: 10px;
}


.title{
  margin-bottom: 50px;
}

#game{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.game-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  
}